<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>欢迎来到调解专区</title>
    <!--<link rel="stylesheet" -->
          <!--type="text/css" -->
          <!--th:href="@{/resources/style.css}"></link>-->
  </head>
  <body>
    <div id="content">
      <h1>Welcome to Spitter</h1>
  
      <a th:href="@{/spittles}">Spittles</a> | 
      <a th:href="@{/spitter/register}">Register</a>
      <img src="tjfu_07.jpg">
      <br/>
      <form action="/registerSuccess" th:action="@{/registerSuccess}" th:object="${adminUserModel.adminUser}" method="post">
        <input type="text" th:field="*{username}" />
        <input type="text" th:field="*{userid}" />
        <input type="text" th:field="*{password}" />
      </form>
      <!--View: <span th:text="${view}">unknown</span>-->
    </div>
    <!--<div id="footer" th:include="page :: copy"></div>-->
  </body>
</html>
